.cube-legend {
  width: 10px;
  height: 10px;
  margin: 0px 10px;
}

.chart-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  align-self: stretch;

  width: 400px;
  height: 200px;
  border: 2px solid #7f8c8d;
  border-radius: 12px;
  padding: 12px 12px 2px 12px;
  margin: 20px;
  overflow: hidden;
}

.chart-container .bar {
  height: 100%;
  width: 55px;
  text-align: center;
  margin-left: 10px;
  border: 2px solid #7f8c8d;
  cursor: pointer;
  flex: 1;
}

.chart-container .bar:hover {
  opacity: 0.7;
}

.chart-container .bar span {
  font-size: 12px;
}

#bar1 {
  background-color: #1abc9c;
}
#bar2 {
  background-color: #2ecc71;
}
#bar3 {
  background-color: #9b59b6;
}
#bar4 {
  background-color: #f39c12;
}

#row {
  display: flex;
  align-items: center;
}
